.test__slider {
    width: 80px;
    margin: auto;
    position: relative;
}

.test__slider-cell {
    text-align: center;
    width: 100px;
}

.test__slider-choose-1, .test__slider-choose-2 {
    position: absolute;
}

.test__slider-choose-1 {
    top: 10px;
    left: 3px;
}

.test__slider-choose-2 {
    bottom: 10px;
    left: 3px;
}