<div class="container" *ngIf="questions">
    <div class="form-group">
        <h5>Оцінка управлінських характеристик на основі тесту MSAI (Інструмент оцінки управлінських навичок, Management Skills Assessment Instrument):</h5>
        <p>
            Встановіть баланс між альтернативними тенденціями використовуючи повзунок для кожного з трьох станів:<br/>
            <strong>Зараз</strong> - характеризує уявлення респодента про поточний стан справ<br/>
            <strong>Бажано</strong> - характеризує уявлення респодента про бажані зміни у короткостровому періоді<br/>
            <strong>Перспектива</strong> - характеризує уявлення респондента про найбільш перспективний стан розвитку віддалений в часі порівняно зі станами Зараз та Бажано
        </p>
    </div>
    <div class="form-group">
        <table *ngFor="let question of questions[questionsType]; let i=index;" align="center" bgcolor="#ffffff" border="1" bordercolor="#e0e0e0" cellpadding="3" cellspacing="0" width="100%">
            <tbody>
            <tr class="tr-sticky">
                <td align="center" width="25">№{{i+1}}</td>
                <td></td>
                <td align="center">Зараз</td>
                <td align="center">Бажано</td>
                <td align="center">Перспектива</td>
            </tr>
            <tr>
                <td align="center"><strong>A</strong></td>
                <td>{{question.a}}</td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.current[i].a}}</div>
                        <div class="test__slider-choose-2">{{answers.current[i].c}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.current[i].a" (change)="setAnswers($event,'current',i,'a','c')"></md-slider>
                    </div>
                </td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.prefer[i].a}}</div>
                        <div class="test__slider-choose-2">{{answers.prefer[i].c}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.prefer[i].a" (change)="setAnswers($event,'prefer',i,'a','c')"></md-slider>
                    </div>
                </td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.perspective[i].a}}</div>
                        <div class="test__slider-choose-2">{{answers.perspective[i].c}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.perspective[i].a" (change)="setAnswers($event,'perspective',i,'a','c')"></md-slider>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center"><strong>C</strong></td>
                <td>{{question.c}}</td>
            </tr>

            <tr>
                <td align="center"><strong>B</strong></td>
                <td>{{question.b}}</td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.current[i].b}}</div>
                        <div class="test__slider-choose-2">{{answers.current[i].d}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.current[i].b" (change)="setAnswers($event,'current',i,'b','d')"></md-slider>
                    </div>
                </td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.prefer[i].b}}</div>
                        <div class="test__slider-choose-2">{{answers.prefer[i].d}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.prefer[i].b" (change)="setAnswers($event,'prefer',i,'b','d')"></md-slider>
                    </div>
                </td>
                <td rowspan="2" class="test__slider-cell">
                    <div class="test__slider">
                        <div class="test__slider-choose-1">{{answers.perspective[i].b}}</div>
                        <div class="test__slider-choose-2">{{answers.perspective[i].d}}</div>
                        <md-slider [min]="0" [max]="100" [vertical]="true" [value]="answers.perspective[i].b" (change)="setAnswers($event,'perspective',i,'b','d')"></md-slider>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center"><strong>D</strong></td>
                <td>{{question.d}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group text-center">
        <button md-raised-button color="primary" (click)="sendAnswers($event)">Далі</button>
    </div>
</div>