<div class="container">
    <div>
        <div class="form-group">
            <h5>Рамкова конструкція конкуруючих цінностей (моделі розвитку управлінських навичок):</h5>
        </div>
        <div class="answer-view-container" style="height: 520px"></div>
        <hr>
        <p>
            Домінуючі типи організаційної культури:<br/>
            <strong>Зараз</strong> - {{cultureName[dominantCurrent]}}<br/>
            <strong>Бажано</strong> - {{cultureName[dominantPrefer]}}<br/>
            <strong><u>Перспектива</u></strong> - {{cultureName[dominantPerspective]}}
        </p>
        <hr>
        <div *ngIf="offerRecommendsMode">
            <div class="form-group">
                <h5>Виберіть психокоррекційні альтернативи (цілі), щоб отримати поради для досягнення <u>перспективної</u> моделі розвитку.</h5>
            </div>
            <div *ngFor="let recommend of recommends; let i=index">
                <div class="form-group text-center">
                    <button md-raised-button (click)="toggleRecommends(i)">{{recommend.type}}</button>
                </div>
                <div *ngIf="recommend._opened && recommend.a && recommend.c">
                    <div *ngFor="let recommendA of recommend.a; let i=index;">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="width:40%">{{recommend.a[i]}}</td>
                                <td class="text-center">
                                    <md-checkbox [checked]="recommend['_checkedA'+i]" (change)="setRecommends(recommend,'a',i)"></md-checkbox>
                                </td>
                                <td class="text-center">
                                    <md-checkbox [(checked)]="recommend['_checkedC'+i]" (change)="setRecommends(recommend,'c',i)"></md-checkbox>
                                </td>
                                <td style="width:40%">{{recommend.c[i]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="recommend._opened && recommend.b && recommend.d">
                    <div *ngFor="let recommendB of recommend.b; let i=index;">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="width:40%">{{recommend.b[i]}}</td>
                                <td class="text-center">
                                    <md-checkbox [checked]="recommend['_checkedB'+i]" (change)="setRecommends(recommend,'b',i)"></md-checkbox>
                                </td>
                                <td class="text-center">
                                    <md-checkbox [(checked)]="recommend['_checkedD'+i]" (change)="setRecommends(recommend,'d',i)"></md-checkbox>
                                </td>
                                <td style="width:40%">{{recommend.d[i]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group text-center">
                <button md-raised-button color="primary" (click)="saveRecommends()">Завершити</button>
            </div>
        </div>
        <div *ngIf="!offerRecommendsMode">
            <div class="form-group">
                <h5>Рекомендації для досягнення перспективної моделі розвитку:</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let passedTestRecommend of passedTest.answers.recommends">{{passedTestRecommend}}</li>
            </ul>
        </div>
    </div>
</div>