<div class="container" *ngIf="users">
    <h2>Результати:</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let passedTest of passedTests">
            <strong>{{ getUserNameById(passedTest.user_id) }}</strong>, дата проходження: {{ passedTest.created_at }}
            <div class="it-go-to-test">
                <button md-raised-button color="primary" [routerLink]="['/passed_test',passedTest.id]">Показати</button>
            </div>
        </li>
    </ul>
</div>