.md-slider-track .md-slider-track-fill {
    display: none;
}

.md-slider-thumb, .md-slider-thumb-label, .md-slider-track-fill {
    background-color: #3f51b5;
}

.help-block {
    color: #d0070f;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 39px;
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 39px;
    background-color: #f5f5f5;
    border-top: 1px solid #636c72;
}

body > .container {
    padding: 69px 15px 4px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.list-group-item {
    position: relative;
}

.it-go-to-test {
    position: absolute;
    right: 20px;
    top: 5px;
}

table {
    background-color: #fff;
}

.table {
    background-color: transparent;
}

.tr-sticky {
    //position: sticky;
    //top: 55px;
    background-color: #efefef;
    z-index: 1000;
}