<div class="container">
    <h5>Оберіть тест:</h5>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let test of tests">
            <a [routerLink]="['/test',test.id]">{{ test.name }}</a>
            <div class="it-go-to-test">
                <button md-raised-button color="primary" [routerLink]="['/test',test.id]">Пройти тест</button>
            </div>
        </li>
    </ul>
    <hr>
    <div class="form-group">
        <h5>Результати:</h5>
        <button md-raised-button color="primary" [routerLink]="['/answers']">Переглянути</button>
    </div>
</div>